:where(.css-dev-only-do-not-override-c6yjzg).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-c6yjzg).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-c6yjzg).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-c6yjzg).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected{
  border-bottom: 3px solid #005aff;
}

:where(.css-dev-only-do-not-override-fw79vu).ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-fw79vu).ant-tabs-top >div>.ant-tabs-nav::before {
  bottom: 0;
  display: none;
}

:where(.css-dev-only-do-not-override-fw79vu).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-fw79vu).ant-tabs >div>.ant-tabs-nav {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  margin-bottom: 0;
}

.ant-input-search :where(.css-dev-only-do-not-override-fw79vu).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
   border-start-start-radius: 0;
   border-end-start-radius: 0;
}

.ant-pro-layout .ant-layout-header.ant-pro-layout-header-fixed-header {
  z-index: 2000!important;
}

/* 确保布局在500px以下保持不变 */
@media (max-width: 500px) {
  #root {
    width: 500px; /* 即使在小屏幕上，布局也保持不变 */
  }
}
